@use 'settings/colors';

.ui-selector {
    background-color: colors.$bg-input-color;
    padding: 0.8125em 1.5em;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;

    &__input {
        border: 0;
        background-color: inherit;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    &--active {
        outline: 1px solid colors.$outline-active-color;
    }

    &--error {
        outline: 1px solid colors.$outline-error-color;
    }
}

.ui-select-panel {
    display: flex;
    flex-direction: column;

    min-width: 15.9375rem;
    background-color: white;
    border-radius: 0.625rem;
    box-shadow: 0px 0.625rem 2.5rem -0.4375rem rgba(55, 63, 104, 0.350492);
}
