@use 'settings/colors';

.ui-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: colors.$bg-input-color;
    padding: 0.8125em 1.5em;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem 0;

    &__input {
        border: 0;
        background-color: inherit;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    &--active {
        outline: 1px solid colors.$outline-active-color;
    }

    &--error {
        outline: 1px solid colors.$outline-error-color;
    }

    &--focus {
        outline: 1px solid colors.$outline-active-color;
    }
}

.ui-select-panel {
    display: flex;
    flex-direction: column;

    margin: 1rem 0;
    min-width: 100%;
    background-color: white;
    border-radius: 0.625rem;
    box-shadow: 0px 0.625rem 2.5rem -0.4375rem rgba(55, 63, 104, 0.350492);

    & > ui-select-option:not(:last-child) {
        border: none;
        border-bottom: 1px solid hsla(0, 0, 53%, 45%);
    }
}
