@use 'tools/media';

@include media.mobile {
    .hide-mobile {
        display: none !important;
    }

    .show-only-mobile {
        display: block !important;
    }
}

@include media.tablet {
    .hide-tablet {
        display: none !important;
    }

    .show-only-mobile {
        display: none !important;
    }
}

@include media.desktop {
    .hide-desktop {
        display: none !important;
    }

    .show-only-mobile {
        display: none !important;
    }
}

@include media.desktop-large {
    .hide-desktop-large {
        display: none !important;
    }
    .show-only-mobile {
        display: none !important;
    }
}
