<ui-chip-list class="category-filter" *transloco="let t" (selected)="categorySelected.next($event)">
    <ui-chip>{{ t('categoriesFeedbackFilter.all') }}</ui-chip>
    <ui-chip>{{ t('categoriesFeedbackFilter.ui') }}</ui-chip>
    <ui-chip>{{ t('categoriesFeedbackFilter.ux') }}</ui-chip>
    <ui-chip>{{ t('categoriesFeedbackFilter.enchancement') }}</ui-chip>
    <ui-chip>{{ t('categoriesFeedbackFilter.bug') }}</ui-chip>
    <ui-chip>{{ t('categoriesFeedbackFilter.feature') }}</ui-chip>
</ui-chip-list>
