<div *transloco="let t" class="layout">
    <aside class="aside">
        <app-banner>
            <h2 app-banner-title class="text-white">{{ t('title') }}</h2>
            <span app-banner-subtitle>{{ t('subtitle') }}</span>
        </app-banner>
        <app-category-filter (categorySelected)="filterFeedbacks($event)"></app-category-filter>
        <app-roadmap linkLabel="View" title="Roadmap">
            <app-roadmap-item color="primary">Planned</app-roadmap-item>
            <app-roadmap-item color="link">In-Progress</app-roadmap-item>
            <app-roadmap-item color="tertiary">Lived</app-roadmap-item>

        </app-roadmap>
    </aside>
    <main class="main">
        <ui-toolbar class="toolbar" justify="between">
            <div class="toolbar__header">
                <img src="/assets/images/suggestions/icon-suggestions.svg" alt="" />
                <h3 class="text-white">{{ (feedbacks$ | async)?.length }} {{ t('toolbarTitle') }}</h3>
            </div>
            <button ui-button color="primary" routerLink="/feedback/new">
                <ui-icon name="plus"></ui-icon> {{ t('createFeedbackLabelButton') }}
            </button>
        </ui-toolbar>
        <section class="feedback-list" *ngIf="(feedbacks$ | async)!.length > 0" data-cy="feedback-list">
            <app-feedback-card class="pointer" *ngFor="let feedback of feedbacks$ | async" routerLink="/feedback/detail/{{ feedback.id }}">
                <ui-counter feedback-card-aside class="hide-mobile" [limitClicksTo]="1" [value]="feedback.upvotes"></ui-counter>
                <ng-container feedback-card-aside>
                    <section class="show-only-mobile">
                        <div class="feedback-aside-mobile">
                            <ui-counter order="row" [limitClicksTo]="1" [value]="feedback.upvotes"></ui-counter>
                            <ui-icon name="comments" ui-badge [value]="feedback.comments ? feedback.comments.length : 0"></ui-icon>
                        </div>
                    </section>
                </ng-container>
                <h3 feedback-card-title>{{ feedback.title }}</h3>
                <div feedback-card-content>
                    <p class="text">{{ feedback.description }}</p>
                    <ui-icon
                        class="hide-mobile"
                        name="comments"
                        ui-badge
                        [value]="feedback.comments ? feedback.comments.length : 0"
                    ></ui-icon>
                </div>
                <ui-chip feedback-card-footer [selectable]="false">{{ feedback.category | titlecase }}</ui-chip>
            </app-feedback-card>
        </section>
        <app-empty-feedbacks *ngIf="(feedbacks$ | async)!.length === 0">
            <h1 empty-feedbacks-title>{{ t('emptyFeedbackList.title') }}</h1>
            <p empty-feedbacks-body>{{ t('emptyFeedbackList.description') }}</p>
            <button ui-button color="primary" empty-feedbacks-button routerLink="/feedback/new">
                <ui-icon name="plus"></ui-icon> {{ t('createFeedbackLabelButton') }}
            </button>
        </app-empty-feedbacks>
    </main>
</div>
