@use 'settings/colors';
@use 'settings/typography';

.ui-toast {
    position: relative;
    margin: 0.625rem;
    padding: 0.5rem 1rem;

    background-color: colors.$toast-background-color;
    color: lighten(colors.$toast-background-color, 35%);
    border-radius: 0.3125rem;
    font-size: var(--fs-button);

    &__button {
        background-color: transparent;
        border: 0;
        font-size: var(--fs-button);
        color: lighten(colors.$toast-background-color, 35%);

        margin-left: 1.25rem;

        cursor: pointer;
    }
}
