@use 'settings/colors';

:host {
    display: block;
}

.roadmap-item {
    display: flex;
    width: 100%;
    padding: 0;
    margin-top: 0.5rem;

    &__counter {
        margin-left: auto;
        color: colors.$title-color;
        font-weight: bold;
    }

    &__status {
        display: flex;
        align-items: center;
        gap: 1rem;

        &::before {
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            background: colors.$text-color;
            border-radius: 50%;
        }

        &--tertiary::before {
            background: colors.$tertiary-color;
        }

        &--primary::before {
            background: colors.$primary-color;
        }

        &--link::before {
            background: colors.$link-hover-color;
        }

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
}
