@use 'settings/colors';

:host {
    display: block;
}

.roadmap {
    background: colors.$white-color;
    border-radius: 0.625rem;
    padding: 1.1875rem 1.5rem;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        margin: 0;
    }

    &__list {
        padding-left: 0;
        margin: 1rem 0 0 0;

    }

    &__item{
        display: flex;
        width: 100%;
    }

    &__counter{
        margin-left: auto;
    }

    &__status {
        display: flex;
        align-items: center;
        gap: 1rem;
    
        &::before{
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            background: colors.$text-color;
            border-radius: 50%;
        }

        &--planned::before{
            background: colors.$tertiary-color;
        }

        &--progress::before{
            background: colors.$primary-color;
        }

        &--live::before{
            background: colors.$link-hover-color;
        }

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    &__counter {
        color: colors.$title-color;
        font-weight: bold;
    }

    &__link--disabled {
        pointer-events: none;
        color: lighten(colors.$secondary-color, 10%);
    }
}