<div
    class="ui-selector"
    [class.ui-selector--focus]="isDropdownOpen"
    cdkOverlayOrigin
    (click)="toggleDropdown()"
    #origin="cdkOverlayOrigin"
    #trigger
>
    <input class="ui-selector__input" [value]="displayedText" [placeholder]="placeholder" type="text" readonly autocomplete="off" />
    <img *ngIf="!isDropdownOpen" class="ui-selector__icon" src="assets/images/icons/icon-arrow-down.svg" alt="Selector displayed" />
    <img *ngIf="isDropdownOpen" class="ui-selector__icon" src="assets/images/icons/icon-arrow-up.svg" alt="Selector displayed" />
</div>

<ng-template
    cdkConnectedOverlay
    cdkConnectedOverlayLockPosition
    cdkConnectedOverlayHasBackdrop
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayOrigin]="origin"
    [cdkConnectedOverlayOpen]="isDropdownOpen"
    (backdropClick)="isDropdownOpen = false"
    (opened)="onOpened()"
    (closed)="onClosed()"
>
    <div class="ui-select-panel" @fadeInOut>
        <ng-content></ng-content>
    </div>
</ng-template>
