@use 'settings/colors';

.ui-select-option {
    background: transparent;
    color: colors.$text-color;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    width: 100%;

    text-align: left;

    &:hover {
        color: colors.$primary-color;
    }

    &--selected {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
