
.layout {
    display: flex;
    flex-direction: column;
    gap: 2.625rem;
    
    margin: 4.875rem auto 0 auto;
    width: min(69.375rem, 100%);
    padding: 0 1.5rem;
}

.back {
    display: flex;
    justify-items: center;
    gap: 1.2294rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    &__text{
        margin: 0;
        color: white;
    }

    &__icon {
        filter: brightness(4);
    }

    &__title {
        margin: 0;
    }
}

.toolbar {
    &__header {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem 0.8125rem;
    }
}