<section class="layout" *transloco="let t">
    <ui-toolbar justify="between" class="toolbar">
        <div class="toolbar__header">
            <span class="back" (click)="back()">
                <ui-icon class="back__icon" name="arrow-left"></ui-icon>
                <span class="back__text">Go back!</span>
            </span>
            <h3 class="text-white">Roadmap</h3>
        </div>
        <button ui-button color="primary" routerLink="/feedback/new">
            <ui-icon name="plus"></ui-icon> {{ t('createFeedbackLabelButton') }}
        </button>
    </ui-toolbar>
    <app-kanban-board>
        <app-kanban-column title="Planed (3)" subtitle="Items to express ideas" >
            <app-kanban-card [color]="'link'">
                <h3 kanban-card-title>More comprehensive reports</h3>
                <p kanban-card-text>It would be great to see a more detailed breakdown of solutions.</p>
            </app-kanban-card>

            <app-kanban-card [color]="'link'">
                <h3 kanban-card-title>More comprehensive reports</h3>
                <p kanban-card-text>It would be great to see a more detailed breakdown of solutions.</p>
            </app-kanban-card>
        </app-kanban-column>

        <app-kanban-column title="Planed (3)" subtitle="Items to express ideas">
            <app-kanban-card [color]="'primary'">
                <h3 kanban-card-title>More comprehensive reports</h3>
                <p kanban-card-text>It would be great to see a more detailed breakdown of solutions.</p>
            </app-kanban-card>

            <app-kanban-card [color]="'primary'">
                <h3 kanban-card-title>More comprehensive reports</h3>
                <p kanban-card-text>It would be great to see a more detailed breakdown of solutions.</p>
            </app-kanban-card>
        </app-kanban-column>

        <app-kanban-column title="Planed (3)" subtitle="Items to express ideas">
            <app-kanban-card [color]="'tertiary'">
                <h3 kanban-card-title>More comprehensive reports</h3>
                <p kanban-card-text>It would be great to see a more detailed breakdown of solutions.</p>
            </app-kanban-card>

            <app-kanban-card [color]="'tertiary'">
                <h3 kanban-card-title>More comprehensive reports</h3>
                <p kanban-card-text>It would be great to see a more detailed breakdown of solutions.</p>
            </app-kanban-card>
        </app-kanban-column>
    </app-kanban-board>
</section>
