<div class="ui-selector ui-selector--active" cdkOverlayOrigin (click)="toggleDropdown()" #trigger="cdkOverlayOrigin">
    <input class="ui-selector__input" [value]="displayedText" [placeholder]="placeholder" type="text" readonly autocomplete="off" />
    <img class="ui-selector__icon" src="assets/images/icons/icon-arrow-down.svg" alt="Arrow down icon" />
</div>

<ng-template
    cdkConnectedOverlay
    cdkConnectedOverlayLockPosition
    cdkConnectedOverlayHasBackdrop
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isDropdownOpen"
    (backdropClick)="isDropdownOpen = false"
>
    <div class="ui-select-panel">
        <ng-content></ng-content>
    </div>
</ng-template>
