<div class="container">
    <ui-toolbar>
        <button ui-button color="info">Log in!</button>
    </ui-toolbar>
    <section class="typography">
        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
        <h5>Header 5</h5>
        <h6>Header 6</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, urna eu tincidunt tincidunt, ipsum ante euismod nisi, eu
            aliquam nisl nunc euismod nisi.
        </p>
        <a>Link</a>
    </section>
    <section class="buttons">
        <h2>Buttons</h2>
        <div class="row">
            <button ui-button color="primary" size="long">Button</button>
            <button ui-button color="secondary" size="long">Button</button>
            <button ui-button color="info" size="long">Button</button>
            <button ui-button color="light" size="long">Button</button>
            <button ui-button color="dark" size="long">Button</button>
            <button ui-button color="error" size="long">Button</button>
        </div>
    </section>
    <section class="badge">
        <h2>Badge</h2>
        <ui-icon name="comments" ui-badge [value]="1.5"></ui-icon>
    </section>
    <section class="chips">
        <h2>Chips:</h2>
        <ui-chip-list (selected)="showSelected($event)">
            <ui-chip>UX</ui-chip>
            <ui-chip>Video</ui-chip>
            <ui-chip>Tag</ui-chip>
            <ui-chip>BE</ui-chip>
        </ui-chip-list>
    </section>

    <section class="counter">
        <h2>Counter:</h2>
        <ui-counter [limitCounterTo]="6"></ui-counter>
    </section>

    <section class="divider">
        <h2>Divider:</h2>
        <ui-divider></ui-divider>
    </section>

    <form class="form" [formGroup]="testForm" (ngSubmit)="onClick()">
        <h2>Form:</h2>
        <div class="row">
            <input uiInput type="text" placeholder="Active input" formControlName="name" />
            <ui-select [placeholder]="'Feelings'" formControlName="pizza">
                <ui-select-option value="feature">Feature</ui-select-option>
                <ui-select-option value="ui">UI</ui-select-option>
                <ui-select-option value="ux">UX</ui-select-option>
            </ui-select>
        </div>

        <button ui-button color="primary">Submit</button>

        <p>{{ testValueForm | json }}</p>
    </form>

    <section class="toast">
        <h2>Toast:</h2>
        <button ui-button color="info" (click)="showToast()">Show Toast!</button>
    </section>
</div>
