@use '../settings/colors';

.ui-input {
    padding: 0.8125rem 1.5rem;
    font-size: 0.9375rem;
    border: 0;
    min-width: 15.9375rem;
    border-radius: 0.3125rem;
    background-color: colors.$bg-input-color;

    &:focus {
        outline: 1px solid colors.$outline-active-color;
    }
}

.ui-input.ng-touched.ng-invalid {
    outline: 1px solid colors.$outline-error-color;
}
