<section class="feedback-list">
    <app-feedback-card class="feedback-card" *ngFor="let feedback of feedbacks$ | async">
        <ui-counter [limitCounterTo]="1" [initValue]="feedback.upvotes" feedback-card-aside></ui-counter>
        <h3 feedback-card-title class="feedback-title">{{ feedback.title }}</h3>
        <div class="" feedback-card-content class="feedback-content">
            <p>{{ feedback.description }}</p>
            <ui-icon name="comments" ui-badge [value]="feedback.comments ? feedback.comments.length : 0"></ui-icon>
        </div>
        <ui-chip feedback-card-footer>{{ feedback.category | titlecase }}</ui-chip>
    </app-feedback-card>
</section>
