<div class="comment">
    <ng-content select="[comment-avatar]"></ng-content>

    <div class="comment__header">
        <ng-content select="[comment-avatar]"></ng-content>
            <div class="comment__user">
                <ng-content select="[comment-name]"></ng-content>
                <ng-content select="[comment-id]"></ng-content>
            </div>
            <ng-content select="[comment-reply-btn]"></ng-content>
    </div>

    <div class="comment__body">
        <ng-content select="[comment-text]"></ng-content>
        <ng-content class="[comment-replies]"></ng-content>
    </div>
</div>
