@use 'settings/colors';

.comment {
    display: grid;
    grid-template-columns:  2.5rem auto;
    grid-template-rows: 2.5rem auto;
    align-items: flex-start;
    row-gap: 1.0625rem;

    &__name {
        margin: 0;
    }

    &__id {
        font-size: 0.875rem;
        color: colors.$text-color;
        margin: 0;
    }

    &__avatar {
        width: min(100%, 2.5rem);
        height: min(100%, 2.5rem);
        border-radius: 50%;
    }

    &__text {
        margin: 0;
    }

    &__body {
        grid-column: 2;
        margin-left: 2rem;
    }

    &__replies{
       display: flex;
       flex-direction: column;
       gap: 2rem;
       padding: 2rem 0;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 2rem;
    }
}
