<section class="feedback-create" *transloco="let t">
    <app-back-btn>{{ t('back') }}</app-back-btn>
    <app-form-card class="feedback-create__card" iconPath="/assets/images/icons/icon-new-feedback.svg">
        <form [formGroup]="feedbackForm">
            <h1>{{ t('newFeedback') }}</h1>

            <h4 class="form-field-title">{{ t('formFields.title') }}</h4>
            <ui-form-field size="fluent">
                <ui-label>{{ t('formFields.titleLabel') }}</ui-label>
                <input uiInput type="text" formControlName="title" />
            </ui-form-field>

            <h4 class="form-field-title">{{ t('formFields.category') }}</h4>
            <ui-form-field size="fluent">
                <ui-label>{{ t('formFields.categoryLabel') }}</ui-label>
                <ui-select formControlName="category">
                    <ui-select-option *ngFor="let category of categories" value="{{ category }}">{{
                        t('categoriesFeedbackFilter.' + category)
                    }}</ui-select-option>
                </ui-select>
            </ui-form-field>
        </form>
    </app-form-card>
</section>
