<section class="feedback-create" *transloco="let t">
    <app-back-btn data-cy="back">{{ t('back') }}</app-back-btn>
    <app-form-card
        class="feedback-create__card"
        [iconPath]="update ? '/assets/images/icons/icon-edit-feedback.svg' : '/assets/images/icons/icon-new-feedback.svg'"
    >
        <form [formGroup]="feedbackForm" (ngSubmit)="createFeedback()">
            <h1 *ngIf="!update">{{ t('newFeedback') }}</h1>
            <h1 *ngIf="update">Editing "{{ title?.value }}"</h1>

            <h4 class="form-field-title">{{ t('formFields.title') }}</h4>
            <ui-form-field size="fluent">
                <ui-label>{{ t('formFields.titleLabel') }}</ui-label>
                <input uiInput type="text" formControlName="title" data-cy="title-field" />
                <ui-error *ngIf="title?.errors && title?.hasError('required') && title?.touched" data-cy="field-error">
                    {{ t('errors.empty') }}
                </ui-error>
            </ui-form-field>

            <h4 class="form-field-title">{{ t('formFields.category') }}</h4>
            <ui-form-field size="fluent">
                <ui-label>{{ t('formFields.categoryLabel') }}</ui-label>
                <ui-select formControlName="category">
                    <ui-select-option *ngFor="let category of categories" value="{{ category }}">{{
                        t('categories.' + category)
                    }}</ui-select-option>
                </ui-select>
            </ui-form-field>

            <h4 class="form-field-title" *ngIf="update">Update status</h4>
            <ui-form-field size="fluent" *ngIf="update">
                <ui-label>{{ t('formFields.statusLabel') }}</ui-label>
                <ui-select [formControl]="statusControl">
                    <ui-select-option *ngFor="let status of statuses" value="{{ status }}">{{ t('status.' + status) }}</ui-select-option>
                </ui-select>
            </ui-form-field>

            <h4 class="form-field-title">{{ t('formFields.detail') }}</h4>
            <ui-form-field size="fluent">
                <ui-label>{{ t('formFields.detailLabel') }}</ui-label>
                <textarea uiInput formControlName="description" rows="4" data-cy="description-field"></textarea>
                <ui-error *ngIf="description?.errors && description?.hasError('required') && description?.touched" data-cy="field-error">
                    {{ t('errors.empty') }}
                </ui-error>
            </ui-form-field>

            <div class="form-buttons">
                <button
                    ui-button
                    color="error"
                    type="button"
                    class="form-buttons__delete"
                    *ngIf="update"
                    (click)="deleteFeedback()"
                    data-cy="delete"
                >
                    Delete
                </button>
                <button ui-button color="dark" type="button" class="form-buttons__action" [routerLink]="['/']" data-cy="cancel">
                    {{ t('buttons.cancel') }}
                </button>
                <button
                    *ngIf="update"
                    ui-button
                    color="primary"
                    type="button"
                    class="form-buttons__action"
                    [disabled]="feedbackForm.invalid"
                    (click)="updateFeedback()"
                    data-cy="edit"
                >
                    {{ t('buttons.addFeedbacks') }}
                </button>
                <button
                    *ngIf="!update"
                    ui-button
                    color="primary"
                    type="submit"
                    class="form-buttons__action"
                    [disabled]="feedbackForm.invalid"
                    data-cy="submit"
                >
                    {{ t('buttons.addFeedbacks') }}
                </button>
            </div>
        </form>
    </app-form-card>
</section>
